@import '../../prestyles/index.scss';

$prefix: breadcrumb;
$prefix_item: breadcrumb-item;

:host {
  display: block;
}

.#{$prefix} {
  display: block;

  &--md &-item {
    @include ks-typeface('labelSm');
  }

  &--lg &-item {
    @include ks-typeface('headlineSm');
  }

  &__wrapper {
    margin: var(--ks-spacing-0);
    padding: var(--ks-spacing-0);
    display: flex;
    list-style: none;
    align-items: center;
    column-gap: var(--ks-spacing-50);
  }

  &__back-arrow,
  &__separator {
    color: var(--ks-color-neutral-lowOnSurface);

    &:dir(rtl) {
      transform: scaleX(-1);
    }
  }

  &-item {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: var(--ks-spacing-100);
    padding: var(--ks-spacing-100);
    color: var(--ks-color-neutral-lowOnSurface);
    border-radius: var(--ks-border-radius-innerMd);
    background-color: var(--ks-color-neutral-transparentFill);
    @include ks-transition-out(100, background-color, color);

    > a,
    > span {
      color: inherit;
      text-decoration: none;
    }

    &--active {
      cursor: default;
      color: var(--ks-color-neutral-highOnSurface);
      @include ks-typeface('labelMd');
    }

    &--dropdown {
      user-select: none;
      cursor: pointer;
    }

    &--disabled {
      cursor: not-allowed;
      color: var(--ks-color-neutral-onSurfaceDisabled);
    }

    &--dropdown:not(&--disabled):hover,
    &:not(&--disabled, &--active):hover {
      color: var(--ks-color-neutral-onSurface);
      background-color: var(--ks-color-neutral-transparentFillHover);
    }

    &--expanded,
    &--dropdown:not(&--disabled):active,
    &:not(&--disabled, &--active):active {
      color: var(--ks-color-neutral-onSurface);
      background-color: var(--ks-color-neutral-transparentFillActive);
    }

    &--expanded {
      border-radius: var(--ks-border-radius-innerMd);
      > [ks-icon] {
        transform: rotate(180deg);
      }
    }

    [ks-icon] {
      @include ks-transition-out(100, transform);
    }
  }
}
