@import '../../../../prestyles/index.scss';
$date-range-picker: ks-date-range-picker;

[ks-picker-base]::part(wc-input) {
  width: 250px;
}

.quickOption {
  width: 100%;
  padding: var(--ks-spacing-200);
  border-radius: var(--ks-border-radius-md);
  cursor: pointer;
  @include ks-typeface('bodySm');

  &:hover,
  &:focus {
    background-color: var(--ks-color-neutral-surfaceHover);
  }
  &:active {
    background-color: var(--ks-color-neutral-surfaceActive);
  }
  &--selected {
    color: var(--ks-color-primary-onSurface);
  }
  &--disabled {
    cursor: not-allowed;
    color: var(--ks-color-primary-onSurfaceDisabled);
  }
}
.preset-container {
  max-height: 298px;
  overflow-y: auto;
  scrollbar-width: none;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: var(--ks-spacing-100);
}
