:host(.ks-icon) {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host(.ks-icon--rtlable[dir='rtl']) {
  transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}
