@import '../../prestyles/index.scss';
$prefix: status-indicator;
$variants: 'inProgress', 'neutral', 'success', 'warning', 'error';

:host {
  display: block;
}

.#{$prefix} {
  display: flex;
  align-items: center;
  gap: var(--ks-spacing-100);
  @include ks-typeface('bodySm');

  &--dot {
    flex-shrink: 0;
    border-radius: 50%;
    transform: translate(0, 0.5px);
  }

  @each $variant in $variants {
    &--#{$variant} &--dot {
      @if $variant == 'inProgress' {
        border: 2px solid var(--ks-color-success-fill);
      } @else {
        background-color: var(--ks-color-#{$variant}-fill);
      }
    }
  }

  &--dot--md {
    width: 8px;
    height: 8px;
  }
  & &--dot--sm {
    width: 6px;
    height: 6px;
    border-width: 1.5px;
  }

  &--md {
    height: 20px;
    slot {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &--sm {
    height: 16px;
    slot {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
