@use 'sass:math';
$panel-padding: 8px;
$cell-y-and-m-w: 48px;
$cell-w: 36px;
$cell-h: 36px;
$cell-radius: var(--ks-border-radius-md);
// $cell-gap: calc((($panel-w - $panel-padding * 2) - ($cell-w * 7)) / 12);
$cell-gap: 0;

@mixin generatePanel($prefix, $grid-column: 3) {
  .#{$prefix} {
    display: flex;
    flex-direction: row;
    box-shadow: var(--ks-size__shadow-sm) var(--ks-color__shadow);
    border-radius: var(--ks-border-radius-xl);
    width: fit-content;
    font-size: var(--ks-size__font-md);

    &-inner {
      flex: 1;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat($grid-column, math.percentage(math.div(1, $grid-column)));
      place-items: center center;
      align-content: space-around;
    }

    &__content {
      padding: $panel-padding;
    }

    &-preset {
      border-right: 1px solid var(--ks-color-neutral-fillLow);
      background-color: var(--ks-color-primary-onFill);
      padding: var(--ks-spacing-200);
      min-width: 160px;
      max-height: 298px;
      overflow-y: auto;

      &-item {
        margin-bottom: 18px;
        cursor: pointer;
        &:hover {
          color: var(--ks-color-primary-onSurface);
        }
      }
    }

    &__header {
      display: flex;
      align-items: center;
      height: 44px;
      border-bottom: 1px solid var(--ks-color-neutral-fillLow);
      &:not(&--center) {
        padding: 0 var(--ks-spacing-400);
      }
      &-content {
        flex: 1;
        text-align: center;
      }
      &-content &-left {
        padding-left: 4px;
      }
      &-content &-right {
        padding-right: 4px;
      }
      &-left,
      &-right {
        display: flex;
        cursor: pointer;
        &:hover {
          color: var(--ks-color-primary-onSurface);
        }
      }
    }

    &__item,
    &__gray-item {
      width: $cell-y-and-m-w;
      place-content: center center;
      cursor: pointer;
      border-radius: $cell-radius;
      font-size: var(--ks-size__font-md);
      text-align: center;
    }

    &__item {
      border: 1px solid transparent;
      height: $cell-w;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      &--active {
        color: var(--ks-color-primary-onFill);
        background-color: var(--ks-color-primary-fill);
      }

      &--disabled {
        color: var(--ks-color-neutral-onSurfaceDisabled);
        cursor: not-allowed;
      }
      &--disabled.#{$prefix}__item--active {
        background-color: var(--ks-color-primary-fillDisabled);
      }

      &:not(&--disabled, &--active):hover {
        // color: var(--ks-color-primary-fill);
        // border: 1px solid var(--ks-color-primary-fill);
      }
    }

    &[dir='rtl'] {
      .#{$prefix} {
        &-preset {
          border-left: 1px solid var(--ks-color__divider-default);
          border-right-width: 0;
        }
        &__header {
          &-left,
          &-right {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
