$prefix: bulletin-tile;

:host {
  display: inline-block;
}

.#{$prefix} {
  width: 350px;
  height: auto;

  &-item {
    width: 350px;
    border: 1px solid var(--ks-color-neutral-fillLow);
    box-sizing: border-box;
    border-radius: var(--ks-border-radius-lg);
    overflow: hidden;

    img {
      width: 350px;
      height: 202px;
      vertical-align: bottom;
    }

    .content-card {
      width: 100%;
      box-sizing: border-box;
      padding: var(--ks-spacing-400);
      display: flex;
      flex-direction: column;
      gap: var(--ks-spacing-200);
      .content {
        display: flex;
        flex-direction: column;
        gap: var(--ks-spacing-100);
      }
      .has-dot {
        margin-top: calc(2px + var(--ks-spacing-300));
      }
      .buttons {
        display: flex;
        gap: var(--ks-spacing-200);
      }
    }
  }
}
