@import '../../../../prestyles/index.scss';
@import '../utils.scss';
$year-panel: ks-year-panel;

@include generatePanel($year-panel);

.#{$year-panel} {
  &__header-content {
    @include ks-typeface('labelLg');
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 84px);
    padding: 8px;
    grid-row-gap: 16px;
  }
  &__item {
    padding: 2px;
    width: 100%;

    &-inner {
      width: 100%;
      border-radius: var(--ks-border-radius-md);
      padding: 6px 0;
      @include ks-typeface('bodySm');
    }

    &:first-child,
    &:last-child {
      color: var(--ks-color-neutral-onSurface);
      &:hover {
        color: var(--ks-color-neutral-onSurface);
        background-color: var(--ks-color-primary-onFill);
        border-color: transparent;
      }
    }

    &:not(&--disabled, &--active) {
      .#{$year-panel}__item-inner {
        &:hover {
          background-color: var(--ks-color-neutral-surfaceHover);
        }
        &:active {
          background-color: var(--ks-color-neutral-surfaceActive);
        }
      }
    }

    &--active {
      .#{$year-panel}__item-inner {
        background-color: var(--ks-color-primary-fill);
        color: var(--ks-color-primary-onFill);
      }
    }
  }
}
