@import '../../prestyles/index.scss';

$prefix: spinner;

:host {
  display: block;
}

:host(:not([ks-auto-center='false'])) {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

:host([ks-auto-center='true']) {
  position: absolute !important;
}

:host([ks-auto-center='fixed']) {
  position: fixed !important;
}

.#{$prefix} {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--ks-spacing-200);

  &__description {
    display: contents;
    color: var(--ks-color-neutral-onSurface);
    @include ks-typeface('bodySm');
  }

  &__icon {
    color: var(--ks-color-primary-fill);
  }

  &--inverse &__description,
  &--inverse &__icon {
    color: var(--ks-color-neutral-onFill);
  }

  &--md {
    .#{$prefix}__icon {
      width: 16px;
      height: 16px;
    }
  }

  &--lg {
    .#{$prefix}__icon {
      width: 32px;
      height: 32px;
    }
  }

  &--horizontal {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  }

  &--inverse {
    background-color: var(--ks-color-neutral-fillLowActive);
  }
}

:host(:not([ks-auto-center='false'])) .#{$prefix} {
  width: 100%;
  height: 100%;
}
