@use 'sass:list';
@import '../../prestyles/index.scss';

$prefix-drawer: drawer;

$drawer-sizes: 'md', 'lg';
$drawer-widths: 944px, 1152px;

@mixin generateSize {
  @each $size-key in $drawer-sizes {
    &--#{$size-key} {
      width: list.nth($drawer-widths, list.index($drawer-sizes, $size-key));
    }
  }
}

@mixin generatePlacement {
  &--left {
    top: 0;
    left: 0;
    bottom: 0;

    .#{$prefix-drawer} {
      &__side--absolute {
        left: 100%;
      }

      &__side--absolute .#{$prefix-drawer}__close::part(self) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &--right {
    top: 0;
    right: 0;
    bottom: 0;

    .#{$prefix-drawer} {
      &__side--absolute {
        right: 100%;
      }

      &__side--absolute .#{$prefix-drawer}__close::part(self) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

:host {
  --ks-comp-color-overlay-mask: rgba(38, 38, 39, 0.5);
}

.#{$prefix-drawer} {
  z-index: 1;
  position: fixed;
  outline: none;

  @include generateSize;
  @include generatePlacement;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &__underlay {
    height: 100vh;
    inline-size: 100vw;
    block-size: -webkit-fill-available;
    pointer-events: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    opacity: 0;
    @include ks-transition-in-out(200, opacity);
    &[visible] {
      pointer-events: auto;
      opacity: 1;
    }
  }

  &__mask {
    position: fixed;
    inset-block: 0;
    inset-inline: 0;
    left: 0;
    top: 0;
    background-color: var(--ks-comp-color-overlay-mask);
    z-index: 1;
    opacity: 0;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding-bottom: 0;
    box-shadow: var(--ks-elevation-shadow-level3);
    background-color: var(--ks-color-neutral-surface);
  }

  &__panel {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--ks-spacing-600);
    column-gap: var(--ks-spacing-600);
    @include ks-typeface('headlineMd');
  }

  &__body {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: var(--ks-spacing-600);
    background-color: var(--ks-color-neutral-surface3);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--ks-spacing-600);

    &__btns {
      display: flex;
      gap: var(--ks-spacing-200);
    }

    &__other {
      flex: 1;
    }
  }

  &__side {
    &-nav {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: var(--ks-spacing-400) var(--ks-spacing-200);
      background-color: var(--ks-color-neutral-surface);
      border-right: 1px solid var(--ks-color-neutral-fillLow);
      justify-content: space-between;
      &-top {
        display: flex;
        flex-direction: column;
        row-gap: var(--ks-spacing-400);
        align-items: center;
      }
    }

    &--absolute {
      top: 0;
      position: absolute;
    }
  }
  &--expanded {
    width: 100%;
  }
}
