@import '../../prestyles/index.scss';

$prefix: slider;
$slider-variants: 'primary', 'support', 'neutral', 'success', 'warning', 'error';

@mixin generateVariants {
  @each $variant in $slider-variants {
    &--#{$variant} {
      .#{$prefix}__track {
        background-color: var(--ks-color-#{$variant}-fill);
      }

      .#{$prefix}__mark--active,
      .#{$prefix}__indicator {
        border-color: var(--ks-color-#{$variant}-fill);
        background-color: var(--ks-color-#{$variant}-onFill);
      }

      &:not(.#{$prefix}--disabled) .#{$prefix}__indicator:hover {
        border-color: var(--ks-color-#{$variant}-fillHover);
      }

      &:not(.#{$prefix}--disabled) .#{$prefix}__indicator:active {
        border-color: var(--ks-color-#{$variant}-fillActive);
      }

      &.#{$prefix}--disabled {
        .#{$prefix}__track {
          background-color: var(--ks-color-#{$variant}-fillDisabled);
        }

        .#{$prefix}__mark--active,
        .#{$prefix}__indicator {
          border-color: var(--ks-color-#{$variant}-fillDisabled);
        }
      }
    }
  }
}

:host {
  display: inline-block;
  width: 100%;
}

.#{$prefix} {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 4px;
  padding: 6px 0;
  border-radius: var(--ks-border-radius-md);

  &__bar,
  &__track {
    display: block;
    position: absolute;
    height: inherit;
    border-radius: inherit;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  &__bar {
    width: 100%;
    background-color: var(--ks-color-neutral-surface3);
  }

  &__track {
    @include ks-transition-out(100, width, left);
  }

  @include generateVariants;

  &__mark,
  &__indicator {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    border-style: solid;
    border-radius: var(--ks-border-radius-full);
    transform: translate(-50%, -50%);
  }

  &__indicator {
    width: 16px;
    height: 16px;
    border-width: 3px;
    @include ks-transition-out(100, left);

    .#{$prefix}__label {
      top: -26px;
      color: var(--ks-color-neutral-onSurface);
      left: 50%;
      transform: translateX(-50%);
    }

    input {
      display: none;
    }
  }

  &__mark {
    width: 8px;
    height: 8px;
    border-width: 2px;
    border-color: var(--ks-color-neutral-surface3);
    background-color: var(--ks-color-neutral-onFill);
  }

  &__label {
    position: absolute;
    top: 18px;
    white-space: nowrap;
    transform: translateX(-50%);
    color: var(--ks-color-neutral-highOnSurface);
    @include ks-typeface('bodySm');
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--labeld {
    margin-bottom: var(--ks-spacing-500);
  }

  &__tooltip::part(bodywrap) {
    pointer-events: none;
  }
}
