@use 'sass:math';
@import '../../prestyles/index.scss';
@import '../ks-scrollbar/global-style.scss';
$prefix: fields-presenter;

$gaps: 1px 3px 3px 3px 5px 5px;
:host {
  width: 100%;
  margin-inline-start: var(--ks-comp-space__item-margin-inline-start, unset) !important;
}

.#{$prefix} {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  width: 100%;
  cursor: pointer;
  border: 1px solid var(--ks-color-neutral-fillLow);
  background: var(--ks-color-neutral-surface);
  border-radius: var(--ks-comp-space__item-radius, var(--ks-border-radius-md));
  box-sizing: border-box;
  font-size: var(--ks-text-bodySm-fontSize);
  line-height: var(--ks-text-bodySm-lineHeight);
  padding: calc(var(--ks-spacing-100) - 1px) var(--ks-spacing-100);
  @include ks-transition-out(100, all);
  &[dir='ltr'] {
    .#{$prefix}__prefix,
    .#{$prefix}__prepend {
      margin-left: var(--ks-spacing-200);
    }
    .#{$prefix}__suffix,
    .#{$prefix}__append,
    .#{$prefix}__placeholder,
    .#{$prefix}__count {
      margin-left: var(--ks-spacing-200);
    }

    .#{$prefix}__suffix {
      margin-right: var(--ks-spacing-100);
    }
  }
  &[dir='rtl'] {
    .#{$prefix}__prefix,
    .#{$prefix}__prepend {
      margin-right: var(--ks-spacing-200);
    }
    .#{$prefix}__suffix,
    .#{$prefix}__append,
    .#{$prefix}__placeholder,
    .#{$prefix}__count {
      margin-right: var(--ks-spacing-200);
    }

    .#{$prefix}__suffix {
      margin-left: var(--ks-spacing-100);
    }
  }

  &--scroll {
    .#{$prefix}__suffix {
      position: absolute;
    }
    &[dir='ltr'] {
      padding-right: 0;
      .#{$prefix}__suffix {
        right: var(--ks-spacing-100);
      }
    }
    &[dir='rtl'] {
      padding-left: 0;
      .#{$prefix}__suffix {
        left: var(--ks-spacing-100);
      }
    }
  }

  &:not(&--disabled, &--focus):hover {
    outline: none;
    border-color: var(--ks-color-neutral-fillLowHover);
  }

  &--focus:not(&--disabled),
  &:not(&--disabled, &--error, &--warning):focus {
    z-index: 1; // 消除 in KsSpace 组件时边框被遮盖问题
    outline: none;
    border-color: var(--ks-color-primary-fill);
  }

  &--collapse {
    .#{$prefix}__content {
      max-height: 28px;
      overflow: hidden;
    }
  }

  &__content {
    flex: 1;
    display: inline-flex;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    overflow-y: auto;
    gap: var(--ks-spacing-100);
    height: 100%;
    &--empty {
      gap: 0;
    }
  }

  &__placeholder,
  ::slotted([slot='input']) {
    flex: 1;
    @include ks-typeface('bodySm');
  }

  &__placeholder {
    color: var(--ks-color-neutral-onSurfaceDisabled);
    align-items: center;
    white-space: nowrap;
  }

  &-input {
    padding: 0;
    display: flex;
    width: 100%;
    input {
      border: none;
      outline: none;
      background: transparent;
      height: 28px;
      width: 100%;
      &::placeholder {
        @include ks-typeface('bodySm');
        color: var(--ks-color-neutral-onSurfaceDisabled);
      }
    }
  }

  &__count {
    display: flex;
    align-items: center;
  }

  [ks-tag] {
    pointer-events: auto;
    max-width: calc(100%);
  }

  &__prefix,
  &__suffix {
    display: inline-flex;
    align-items: center;
    gap: var(--ks-spacing-200);
    height: 28px;
  }

  &__prefix {
    color: var(--ks-color-neutral-highOnSurface);
  }

  &__suffix {
    color: var(--ks-color-neutral-onSurface);
  }

  .#{$prefix}__clear {
    width: 16px;
    slot[name='close-icon'] {
      display: flex;
      color: var(--ks-color-neutral-fill);
      &:active {
        color: var(--ks-color-neutral-fillActive);
      }
      &:hover {
        color: var(--ks-color-neutral-fillHover);
      }
    }
  }

  &--disabled {
    border: 1px solid var(--ks-color-neutral-fillDisabled);
    cursor: not-allowed;
    box-shadow: none;
    outline: none;
    color: var(--ks-color-neutral-onSurfaceDisabled);
    background-color: var(--ks-color-neutral-surface1);
    -webkit-text-fill-color: var(--ks-color-neutral-onSurfaceDisabled);
    .#{$prefix} {
      cursor: not-allowed;
      &__prefix,
      &__suffix {
        color: var(--ks-color-neutral-onSurfaceDisabled);
      }
      &::placeholder {
        color: var(--ks-color-neutral-onSurfaceDisabled);
      }
    }
  }

  &--warning {
    border-color: var(--ks-color-warning-fill);
    &:not(&--disabled):hover {
      z-index: 1; // 消除 in KsSpace 组件时边框被遮盖问题
      border-color: var(--ks-color-warning-fillHover);
    }
    &:not(&--disabled):focus,
    &--focus:not(&--disabled) {
      z-index: 1; // 消除 in KsSpace 组件时边框被遮盖问题
      border-color: var(--ks-color-warning-fillActive);
    }
  }

  &--error {
    border-color: var(--ks-color-error-fill);
    &:not(&--disabled):hover {
      z-index: 1; // 消除 in KsSpace 组件时边框被遮盖问题
      border-color: var(--ks-color-error-fillHover);
    }
    &:not(&--disabled):focus,
    &--focus:not(&--disabled) {
      z-index: 1; // 消除 in KsSpace 组件时边框被遮盖问题
      border-color: var(--ks-color-error-fillActive);
    }
  }

  &--sm {
    height: 24px;
    padding: 0 var(--ks-spacing-100);
    .#{$prefix}__prefix,
    .#{$prefix}__suffix {
      height: 22px;
    }
  }
}
