@import '../../prestyles/index.scss';

$prefix: guidance;
$info-variants: 'warning', 'error', 'info', 'success', 'neutral', 'primary', 'support';

:host {
  display: block;
}

@mixin generateAlertType {
  @each $variant in $info-variants {
    &--#{$variant} {
      background-color: var(--ks-color-#{$variant}-surface2);

      .#{$prefix}__icon {
        slot[name='icon'] {
          color: var(--ks-color-#{$variant}-fillLow);
        }
      }
    }
  }
}

.#{$prefix} {
  border-radius: var(--ks-border-radius-md);
  color: var(--ks-color-neutral-highOnSurface);
  box-sizing: border-box;
  pointer-events: auto;
  display: flex;
  overflow: hidden;
  gap: var(--ks-spacing-200);

  @include generateAlertType;

  &__link {
    display: flex;
    flex-direction: column;
    gap: var(--ks-spacing-200);
    [ks-link]::part(self) {
      @include ks-typeface('labelSm');
    }
    &-view {
      display: flex;
      align-items: center;
      gap: var(--ks-spacing-100);
      &-rotate {
        .chevron {
          rotate: 180deg;
        }
      }
    }
  }

  &__links-container {
    display: flex;
    align-items: center;
    gap: var(--ks-spacing-200);
  }
  &__links-divider {
    height: 12px;
    width: 1px;
    background-color: var(--ks-color-neutral-fillLow);
  }

  &__body {
    flex: 1;
    display: flex;
    overflow: hidden;
    gap: var(--ks-spacing-200);

    .content {
      display: flex;
      flex-direction: column;
      gap: var(--ks-spacing-200);
      &-close {
        gap: 0;
      }
      &-container {
        display: flex;
        flex-direction: column;
        gap: var(--ks-spacing-200);
        overflow: hidden;
        &-close {
          white-space: nowrap;
          &-multiple {
            height: 0;
          }
        }
      }
    }

    &-content {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      [ks-link]::part(self) {
        @include ks-typeface('labelSm');
      }
    }
  }

  &__close {
    display: flex;
  }

  &--horizontal {
    align-items: center;
    padding: var(--ks-spacing-200) var(--ks-spacing-400);
    .#{$prefix}__body {
      flex-direction: row;
      align-items: center;

      &-title {
        @include ks-typeface('titleSm');
      }

      &-content {
        @include ks-typeface('labelSm');
        flex: 1;
        white-space: nowrap;
      }
    }
    .#{$prefix}__close {
      display: flex;
      margin-top: 1px;
    }
  }

  &--vertical {
    padding: var(--ks-spacing-400);

    .#{$prefix}__icon-title {
      margin-top: 2px;
    }

    .#{$prefix}__body {
      flex-direction: column;

      &-title {
        @include ks-typeface('titleSm');
      }

      &-content {
        @include ks-typeface('labelSm');
      }
    }
  }

  &--compact {
    padding: var(--ks-spacing-200);
  }
}
