@import '../../prestyles/index.scss';

$prefix: 'empty-states';

:host {
  display: block;
}

:host(:not([ks-auto-center='false'])) {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

:host([ks-auto-center='true']) {
  position: absolute !important;
}

:host([ks-auto-center='fixed']) {
  position: fixed !important;
}

.#{$prefix} {
  display: flex;
  justify-content: center;
  align-items: center;

  &__illustration {
    margin-bottom: var(--ks-spacing-400);

    .default-illustration {
      background-image: url('./default-empty-states.svg');
      background-size: contain;
    }

    .#{$prefix}--sm & {
      .default-illustration,
      ::slotted(*) {
        width: 72px;
        height: 72px;
      }
    }

    .#{$prefix}--md & {
      .default-illustration,
      ::slotted(*) {
        width: 120px;
        height: 120px;
      }
    }
  }

  &__title {
    margin-bottom: var(--ks-spacing-200);
    color: var(--ks-color-neutral-highOnSurface);
    text-align: center;
    @include ks-typeface('titleMd');
  }

  &__description {
    color: var(--ks-color-neutral-onSurface);
    text-align: center;
    @include ks-typeface('bodySm');
  }

  &__ctas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--ks-spacing-600);
    gap: var(--ks-spacing-200);
  }

  &--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--ks-spacing-600);
    box-sizing: content-box;
  }

  &--sm {
    max-width: 200px;
  }

  &--md {
    max-width: 400px;
  }
}

:host(:not([ks-auto-center='false'])) .#{$prefix} {
  width: 100%;
  height: 100%;
}
