@import '../../../../prestyles/index.scss';
@import '../utils.scss';
$week-panel: ks-week-panel;

@include generatePanel($week-panel, 7);

.#{$week-panel} {
  &[dir='rtl'] {
    .#{$week-panel} {
      &__week {
        &-left {
          border-left: 1px solid var(--ks-color__divider-default);
          border-right-width: 0;
        }
      }
    }
  }
  &__header-title {
    display: inline-flex;
    padding: 0 2px;
    &:hover {
      // color: var(--ks-color__primary__font-hover);
      // cursor: pointer;
    }
  }

  &__week {
    display: flex;
    &-left {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-right: 1px solid var(--ks-color__divider-default);
    }

    &-item {
      width: $cell-w;
      line-height: $cell-h;
    }
  }

  &__title-section,
  &__week-item {
    text-align: center;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(7, $cell-w);
    height: $cell-h;
    align-items: center;
    place-content: space-around space-between;
    &:not(&:first-child, &--disabled) {
      border-radius: $cell-radius;
      &:hover {
        background-color: var(--ks-color-primary-surface2);
        cursor: pointer;
      }
    }
    &--active {
      background-color: var(--ks-color-primary-surface2);
      > :first-child,
      > :last-child {
        .#{$week-panel}__content-col-item {
          color: var(--ks-color-primary-onFill);
          background-color: var(--ks-color-primary-fill);
        }
      }
    }
    &--disabled {
      cursor: not-allowed;
      .#{$week-panel}__content-col {
        cursor: not-allowed;
      }
    }
  }

  &__content {
    padding: 16px;
    display: grid;
    grid-template-rows: repeat(6, $cell-h);
    align-items: center;
    align-content: space-around;

    &-col {
      text-align: center;
      line-height: $cell-h;
      cursor: pointer;
      font-size: var(--ks-size__font-md);
      display: flex;
      justify-content: center;
      padding: 0 $cell-gap;
      margin: -$cell-gap;
      &-item {
        width: $cell-w;
        cursor: pointer;
        border-radius: $cell-radius;
        font-size: var(--ks-size__font-md);
        text-align: center;
        &--disabled {
          color: var(--ks-color-neutral-onSurface);
          cursor: not-allowed;
        }
      }

      &-gray {
        color: var(--ks-color-neutral-onSurfaceDisabled);
      }
    }
  }

  &__item {
    width: 22px;
    height: 22px;
  }
}
