@import '../../../prestyles/index.scss';

$prefix: menu-item;

:host {
  width: 100%;
}

.#{$prefix} {
  cursor: pointer;

  width: 100%;
  min-height: 40px;
  column-gap: var(--ks-spacing-200);
  padding: calc(var(--ks-spacing-200) + var(--ks-spacing-50)) var(--ks-spacing-200);
  padding-left: calc(var(--ks-comp-side-navigation-level) * var(--ks-spacing-800));

  display: flex;
  align-items: center;
  border-radius: var(--ks-border-radius-md);

  color: var(--ks-color-neutral-highOnSurface);
  background-color: var(--ks-color-neutral-surface);

  @include ks-transition-out(100, color, background-color);

  &:not(.#{$prefix}--disabled):hover {
    color: var(--ks-color-neutral-highOnSurfaceHover);
    background-color: var(--ks-color-neutral-surfaceHover);
  }

  &:not(.#{$prefix}--disabled):active {
    color: var(--ks-color-neutral-highOnSurface);
    background-color: var(--ks-color-neutral-surfaceActive);
  }

  &-content {
    flex: 1;

    @include ks-typeface('bodySm');
  }

  &--root {
    padding-left: var(--ks-spacing-200);

    .#{$prefix}-content {
      @include ks-typeface('titleSm');
    }
  }

  &--active:not(.menu-item-disabled) {
    color: var(--ks-color-neutral-highOnSurface);
    background-color: var(--ks-color-primary-surface2);

    &:hover {
      color: var(--ks-color-neutral-highOnSurface);
      background-color: var(--ks-color-primary-surface2);
    }

    &:active {
      color: var(--ks-color-neutral-highOnSurface);
      background-color: var(--ks-color-primary-surface2);
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: var(--ks-color-neutral-onSurfaceDisabled);
    background-color: var(--ks-color-neutral-surfaceDisabled);
  }
}
