@use 'sass:list';
@import '../../prestyles/index.scss';

$prefix: loading-container;

:host {
  position: relative;
}

.#{$prefix} {
  height: 100%;
  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
